<div id="<%= dom_id friend %>">
  <div class="container-fluid text-sm-center p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-2"><%= friend.first_name %> <%= friend.last_name %></h1>
    <p class="lead"></p><%= friend.email %> | <%= friend.phone_string %> | <%= friend.facebook %></p>
  </div>
</div>